<!DOCTYPE html>
<html class="min-h-full" lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body class="h-full flex flex-col bg-gray-200 text-gray-700">

    {{ partial "header.html" }}

    <main class="px-1 w-full max-w-screen-xl mx-auto flex-grow">

      {{ block "main" . }}{{ end }}

    </main>

    {{ partial "footer.html" }}

    <script>
      const anchors = document.querySelectorAll("a");
      anchors.forEach(anchor => anchor.addEventListener("click", () => anchor.blur()));
    </script>

  </body>
</html>
